

.desktop {

    $yellow: #f3c736;

    .head {
        margin-top: 30px;
    }

    .input {
        padding-top: 25px;

        input[type="submit"] {
            margin-top: 40px;
        }
    }

    .today-container {
        text-align: right;

        p {
            margin: 0;
        }
    }

    .range-container {
        margin-bottom: 30px;

        h5 {
            margin-bottom: 10px;
        }
    }

    svg {

        .area {
            fill: lightsteelblue;
        }

        &.state-svg {
            margin-left: 40px;
            margin-right: 40px;
        }

    }

}
